/* My own CSS goes here */
h1 {
    color: rgb(247, 173, 64);
    font-size: 100px;
}

body, html {
    height: 100%;
    color: #fff;
}

.backGround { 
    background-image: url("/assets/images/bgController.jpg");
    position: relative;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgb(138, 136, 136);
    text-align: center;
    padding-bottom: 3.0rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.0rem;
    background-color: rgb(138, 136, 136);
    border-top: 4px solid #fff;
}

#footerAnchor {
    color: rgb(247, 173, 64);
    font-size: 10px;
    float: right;
}
